body {
  background-color: antiquewhite;
}
.btn-secondary {
  margin-top: 1%;
  margin-bottom: 1%;
}
.card{
	margin:0 auto;
	 width: 30rem;
	 height:40rem
}
.card-header{
	text-align: center;
}
.card-body{
	text-align: center;
}
.col-sm-5{
	text-align:right;
}
