body {
  width:100%;
  background-color: floralwhite;
  font-family: candara, verdana, arial;
}

.headerTitle {
  background-color: #189fb1;
  width:100%;
  color: white;
  padding-left: 16px;
  font-family: candara, verdana, arial;

}

.headerMotto {
  padding-left: 16px;
}

.navbarList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a.navbar-brand{
  font-size:3em;
  color:white;
  margin-left:-1.5%;
  margin-right:3%;
}
.nav-item {
  margin-right: 15%;
  font-size:1.5em;
}
.nav-item a{
  color:white;
}
a:hover{
  color:gray;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: black;
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: gray;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.navButtons {
  position: relative;
  background-color: wheat;
  border-style: solid;
  margin-top: 32px;

}

.reportButton {
  max-width: 210px;
  position: relative;
  margin: auto;
  padding-top: 16px;
  padding-left: 72px;
}

.viewButton {
  max-width: 350px;
  position: relative;
  margin: auto;
  padding-top: 16px;
  padding-left: 76px;
  padding-bottom: 16px;
}